<!DOCTYPE html>

<html>

<head>
<title>Sports Centre Admin</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Admin Panel</h1>

<table>

<tr>
<th>Name</th>
<th>Sport</th>
<th>Turf</th>
<th>Slot</th>
<th>Date</th>
<th>Delete</th>
</tr>

{% for b in bookings %}

<tr>

<td>{{b[1]}}</td>
<td>{{b[2]}}</td>
<td>{{b[3]}}</td>
<td>{{b[4]}}</td>
<td>{{b[5]}}</td>

<td>
<a href="/confirmcancel/{{b[0]}}">
<button class="cancelbtn">Delete</button>
</a>
</td>

</tr>

{% endfor %}

</table>

</body>

</html>